main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card {
  width: 192px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-8px);
}

.thumbnail {
  width: 192px;
  height: 288px;
}

.container {
  height: 5rem;
  margin: 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container p {
  margin: 0;
}
